.container {
    max-width: 40rem;
    margin: 3rem auto 3rem;
}

.resumeContainer {
    display: flex;
    flex-direction: column;

}
.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.nameTitle{
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    flex-basis: 13rem;    
}
.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.experienceContainer {
    display: flex;
    flex-direction: column;
    max-width: 27em;

}
.skillsContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 13rem;
}
.experienceItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 1rem;
}
.jlt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.jobBody {}